body{
    background-image: linear-gradient(to right,#01587F, #03b683);
    width: 80%;
    height:250px;
    margin: 0 auto;
    padding-top: 15px;
}

section>div>h1{
    text-align: center;
    font-size: 50px;
    color: white; 
}
p{
    text-align: center;
}
td{
    
    background-color: rgba(102, 211, 211, 0.347);
    border: none;
    border-radius: 10px;
    text-align: center;  
}
tr>td>i{
    font-size: 50px;
    text-align: center;
    color:white;
    padding: 5px 0px;
    margin: 0 auto;   
}
table{
    height: 500px;
    width: 500px;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
    border-radius: 5px;
};

tr>td{
    border-radius: 5px; 
}
